@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 10px;
	font-weight: normal;
	line-height: 1.5em;
	font-family: sans-serif, "Trebuchet MS";
	background: #fff url(../images/bg.gif) repeat-x;
}

html {
	overflow: auto;
}

h1, h2, h3, h4, h5, h6,
div, p, pre, ul, ol, dl, dt, dd,
address, form, blockquote {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	text-align: left;
	display: block;
}

table {
	margin: 0;
	empty-cells: show;
}

img {
	border: none;
}

li {
	list-style: none;
}

acronym, abbr {
	cursor: help;
}



a:link {
	color: #003399;
	text-decoration: none;
}
a:visited {
	color: #003399;
	text-decoration: none;
}
a:hover {
	color: #008888;
	text-decoration: none;
}
a:active {
	color: #f59;
	text-decoration: none;
}



.clearfix {
	zoom: 1; /*for IE 5.5-7*/
}

.clearfix:after { /*for modern browser*/
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

* html .clearfix {
	display: inline-table;
	/*\*/display: block;/**/
}
