@charset "utf-8";
/* ===== common ================================================== */

div#wrap {
	width: 100%;
	margin: 0;
	padding: 0;
}
.hide_text {
	display: none;
}
div#stage {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
div#pagecontent {
	width: 960px;
	margin: 0 auto;
}
div#pagecontent_wrap {
}
div.pagecontent_menu {
	background: url(../images/bg_content_menu.gif) repeat-y;
}
p.text_nowloading {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #999;
	padding: 5px 5px;
}
.area_fit {
}
h3 {
	margin: 20px 0 0;
	padding: 1px 10px;
	font-size: 14px;
	font-weight: bold;
	border-left: 10px solid #39f;
	border-bottom: 2px dotted #9cf;
}
h4 {
	margin: 15px 0 0;
	padding: 1px 8px;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px dotted #9cf;
}
h5 {
	margin: 5px 0 0;
	font-size: 1.2em;
	font-weight: bold;
}
.text_bold {
	font-weight: bold;
}
/* ===== header ================================================== */

div#header {
	height: 88px;
	position: relative;
	padding-top: 0;
}
#page_logo, h1 {
	float: left;
	width: 400px;
}
#h1desc {
	font-size: 11px;
	position: absolute;
	left: 14px;
	top: 14px;
	font-weight: normal;
}
a#header_logo {
	display: block;
	position: relative;
	top: 30px;
	width: 380px;
	height: 40px;
	background: url(../images/header/header_logo.gif) no-repeat;
}
div#header_inquiry {
	float: right;
	width: 520px;
	height: 88px;
	background: url(../images/header/header_inquiry_bg.gif) no-repeat;
}
a#header_inquiry_btn {
	display: block;
	position: relative;
	top: 20px;
	left: 240px;
	width: 180px;
	height: 26px;
	background: url(../images/header/header_inquiry_btn.gif) no-repeat 0 0;
}
a#header_inquiry_btn:hover {
	background: url(../images/header/header_inquiry_btn.gif) no-repeat 0 -26px;
}
/* ===== navi ================================================== */

div#navi {
}
div#navi_menu {
	height: 50px;
	padding: 0 0 0 17px;
	background: url(../images/navi/navi_menu_bg.gif) no-repeat;
}
div.navi_menu_separator {
	float: left;
	width: 3px;
	height: 50px;
	background: url(../images/navi/navi_menu_separator.gif) no-repeat;
}
a#navi_menu_item_home {
	display: block;
	float: left;
	width: 132px;
	height: 50px;
	background: url(../images/navi/navi_menu_item_home.gif) no-repeat 0 0;
}
a#navi_menu_item_home:hover {
	background: url(../images/navi/navi_menu_item_home.gif) no-repeat 0 -50px;
}
a#navi_menu_item_special {
	display: block;
	float: left;
	width: 132px;
	height: 50px;
	background: url(../images/navi/navi_menu_item_special.gif) no-repeat 0 0;
}
a#navi_menu_item_special:hover {
	background: url(../images/navi/navi_menu_item_special.gif) no-repeat 0 -50px;
}
a#navi_menu_item_event {
	display: block;
	float: left;
	width: 172px;
	height: 50px;
	background: url(../images/navi/navi_menu_item_event.gif) no-repeat 0 0;
}
a#navi_menu_item_event:hover {
	background: url(../images/navi/navi_menu_item_event.gif) no-repeat 0 -50px;
}
a#navi_menu_item_investment {
	display: block;
	float: left;
	width: 172px;
	height: 50px;
	background: url(../images/navi/navi_menu_item_investment.gif) no-repeat 0 0;
}
a#navi_menu_item_investment:hover {
	background: url(../images/navi/navi_menu_item_investment.gif) no-repeat 0 -50px;
}
a#navi_menu_item_consultant {
	display: block;
	float: left;
	width: 152px;
	height: 50px;
	background: url(../images/navi/navi_menu_item_consultant.gif) no-repeat 0 0;
}
a#navi_menu_item_consultant:hover {
	background: url(../images/navi/navi_menu_item_consultant.gif) no-repeat 0 -50px;
}
a#navi_menu_item_present {
	display: block;
	float: left;
	width: 151px;
	height: 50px;
	background: url(../images/navi/navi_menu_item_present.gif) no-repeat 0 0;
}
a#navi_menu_item_present:hover {
	background: url(../images/navi/navi_menu_item_present.gif) no-repeat 0 -50px;
}
div#navi_display {
	height: 267px;
	background: url(../images/navi/navi_display.jpg) no-repeat;
}
/* ===== board ================================================== */

div#board {
	padding: 0 0 30px 15px;
	background: url(../images/bg_board.gif) no-repeat;
}
div#column_left {
	float: left;
	width: 180px;
	padding: 5px 15px 0 0;
}
div#column_right {
	float: left;
	width: 730px;
}
a#column_left_member_btn {
	display: block;
	width: 180px;
	height: 110px;
	background: url(../images/column_left/column_left_member_btn.gif) no-repeat 0 0;
}
a#column_left_member_btn:hover {
	background: url(../images/column_left/column_left_member_btn.gif) no-repeat -180px 0;
}
div#column_left_menu {
	width: 180px;
	margin: 5px 0 0;
	background: #d2d2d2;
}
div#column_left_menu_title {
	width: 178px;
	height: 35px;
	margin: 1px auto;
	background: url(../images/column_left/column_left_menu_title.gif) no-repeat 0 1px;
}
div#column_left_menu a {
	display: block;
	width: 178px;
	margin: 0 auto;
	padding: 0 0 1px;
}
a#column_left_menu_item_hikoukai {
	height: 37px;
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -1px -1px;
}
a#column_left_menu_item_hikoukai:hover {
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -181px -1px;
}
a#column_left_menu_item_shuueki {
	height: 37px;
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -1px -39px;
}
a#column_left_menu_item_shuueki:hover {
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -181px -39px;
}
a#column_left_menu_item_consult {
	height: 37px;
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -1px -77px;
}
a#column_left_menu_item_consult:hover {
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -181px -77px;
}
a#column_left_menu_item_company {
	height: 37px;
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -1px -115px;
}
a#column_left_menu_item_company:hover {
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -181px -115px;
}
a#column_left_menu_item_group {
	height: 37px;
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -1px -153px;
}
a#column_left_menu_item_group:hover {
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -181px -153px;
}
a#column_left_menu_item_mailmagazine {
	height: 37px;
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -1px -191px;
}
a#column_left_menu_item_mailmagazine:hover {
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -181px -191px;
}
a#column_left_menu_item_present {
	height: 37px;
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -1px -229px;
}
a#column_left_menu_item_present:hover {
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -181px -229px;
}
a#column_left_menu_item_qa {
	height: 37px;
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -1px -267px;
}
a#column_left_menu_item_qa:hover {
	background: url(../images/column_left/column_left_menu_items.gif) no-repeat -181px -267px;
}
div#column_left_company {
	margin: 10px 0 0;
	border: 1px solid #d2d2d2;
	background: #f7fbfe;
}
div#column_left_company_logo {
	height: 65px;
	background: url(../images/column_left/column_left_company_logo.gif) no-repeat 16px 18px;
}
p#column_left_company_address {
	padding: 0 12px 0 16px;
	font-size: 1.0em;
}
div#column_left_company_phone {
	height: 35px;
	background: url(../images/column_left/column_left_company_phone.gif) no-repeat 16px 5px;
}
a#column_left_blog_btn {
	display: block;
	width: 180px;
	height: 100px;
	margin: 10px 0 0;
	background: url(../images/column_left/column_left_blog_btn.jpg) no-repeat 0 0;
}
a#column_left_blog_btn:hover {
	background: url(../images/column_left/column_left_blog_btn.jpg) no-repeat -180px 0;
}
p.message_no_contents_text {
	padding: 20px 0 0;
	font-size: 1.2em;
}
/* ===== feed ================================================== */
#event_feed li {
	padding-bottom: 60px;
	border-bottom: 2px solid #9cf;
	margin-bottom: 15px;
}
#event_feed li dd {
	font-size: 14px;
	line-height: 1.6em;
}
#event_feed li dd h5 {
	font-size: 1.2em;
	margin-bottom: 7px;
	color: #003399;
	margin-top: 1em;
}
#event_feed li dd .mb30 {
	margin-bottom: 30px;
}
#event_feed li dd .comform-title {
	font-size: 1.2em;
	line-height: 1.3em;
	text-align: center;
}
#event_feed li .date {
	font-size: 15px;
	text-align: right;
	margin: 10px 0;
}
#event_feed li dt h3 {
	font-size: 1.8em;
}
/* ===== footer ================================================== */

div#footer {
	margin: 0 auto;
	padding: 0 0 20px;
	clear: both;
}
div#footer_frame {
	margin: 0 auto;
	padding: 0;
	border-top: 2px solid #2d498a;
}
div#footer_wrap {
	margin: 0 auto;
	width: 960px;
}
p#footer_menu {
	padding: 12px 0 5px;
	font-size: 1.2em;
}
p#footer_copyright {
	font-size: 1.1em;
}
/* ===== index ================================================== */
.hidden {
	overflow: hidden;
}
.hidden .right {
	float: right;
	width: 29%;
}
.hidden .left {
	float: left;
	width: 70%;
}
.hidden img {
	max-width: 100%;
	height: auto;
}
.hidden a#banner_index_top {
	background-image: none;
	width: auto;
	height: auto;
}
div#area_index_body {
	/*float: left;
	width: 555px;*/
	padding: 16px 0 0 0;
}
div#area_index_movie {
	float: left;
	width: 180px;
	padding: 16px 0 0 0;
}
a#banner_index_top {
	display: block;
	width: 540px;
	height: 120px;
	background: url(../../images/banner_index_top.jpg) no-repeat 0 0;
}
a#banner_index_top:hover {
	background: url(../../images/banner_index_top.jpg) no-repeat 0 -120px;
}
div#banner_index_2 {
	width: 540px;
	margin: 10px 0 0;
}
a#banner_index_2_l {
	display: block;
	float: left;
	width: 265px;
	height: 80px;
	background: url(../../images/banner_index_2_l.jpg) no-repeat 0 0;
}
a#banner_index_2_l:hover {
	background: url(../../images/banner_index_2_l.jpg) no-repeat 0 -80px;
}
a#banner_index_2_r {
	display: block;
	float: right;
	width: 265px;
	height: 80px;
	background: url(../../images/banner_index_2_r.jpg) no-repeat 0 0;
}
a#banner_index_2_r:hover {
	background: url(../../images/banner_index_2_r.jpg) no-repeat 0 -80px;
}
div#index_whatsnew {
	/*width: 540px;*/
	margin: 10px 0 0;
	padding: 36px 0 0 0;
	background: url(../../images/index_whatsnew_title.gif) no-repeat 0 0;
	border-bottom: 1px solid #d2d2d2;
}
div.index_whatsnew_item {
	border-top: 1px dotted #d2d2d2;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
}
p.index_whatsnew_date {
	width: 80px;
	padding: 8px 0 8px 20px;
	float: left;
	font-size: 1.2em;
}
p.index_whatsnew_subject {
	padding: 8px 20px 8px 110px;
    font-size: 1.2em;
    float: none;
}
div#index_newcoming {
	margin: 10px 0 0;
	padding: 36px 0 0 0;
	background: url(../../images/index_newcoming_title.gif) no-repeat 0 0;
}
div.index_newcoming_item {
	float: left;
	width: 183px;
	margin: 10px 0 0 0;
}
div.index_newcoming_box {
	width: 174px;
}
div.index_newcoming_plate {
	background: #fff;
	border: 1px solid #d2d2d2;
	position: relative;
}
a.index_newcoming_image {
	display: block;
	text-align: center;
	height: 165px;
	overflow: hidden;
}
a.index_newcoming_image img {
	margin: 10px auto 0;
	max-width: 100%;
}
a.index_newcoming_image:hover img {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
div.index_newcoming_price {
	padding: 0 10px;
}
div.index_newcoming_price p {
	height: 24px;
	font-size: 1.6em;
	font-weight: bold;
	color: #c00;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
div.index_newcoming_address {
	padding: 0 10px;
}
div.index_newcoming_address p {
	height: 18px;
	font-size: 1.0em;
	white-space: nowrap;
	overflow: hidden;
}
div.index_newcoming_bottom {
	height: 25px;
	padding: 0 10px 0;
}
div.index_newcoming_bottom span.index_newcoming_bottom_detail_btn {
	padding: 5px 0 0;
}
div#index_newcoming div.new_mark {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
	display: block;
	padding: 2px 5px;
	width: 26px;
	position: absolute;
	top: 12px;
	right: 12px;
	border-radius: 4px;
	text-shadow: 1px 1px 0px #900;
	background: #900; /* Old browsers */
	background: -moz-linear-gradient(top, #d20100 0%, #990000 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #d20100 0%, #990000 100%); /* Chrome10+,Safari5.1+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20100', endColorstr='#990000', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #d20100 0%, #990000 100%); /* W3C */
}
div#index_movie {
	padding: 50px 0 0 0;
	background: url(../../images/index_movie_title.gif) no-repeat 0 0;
}
div.index_movie_item {
	float: left;
	width: 180px;
	margin: 10px 0 0 0;
	text-align: center;
}
div.index_movie_item iframe {
	margin: 0 auto;
}
div.index_movie_item p {
	text-align: right;
}
#side_blog1 {
    margin: 10px 0;
    display: block;
}
/* ===== event ================================================== */

div#area_event {
	padding: 0 30px 0 20px;
}
h2#h2_event {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../event/images/h2_event.gif) no-repeat 0 0;
}
div#event_sample_box {
	margin: 30px 0 60px;
}
span#event_sample_seminar {
	padding: 3px 25px 3px 5px;
	font-size: 1.4em;
	font-weight: bold;
	white-spacing: nowrap;
	border-left: 5px solid #f3f;
}
span#event_sample_kengakukai {
	padding: 3px 25px 3px 5px;
	font-size: 1.4em;
	font-weight: bold;
	white-spacing: nowrap;
	border-left: 5px solid #3c3;
}
div.event_item_box {
	margin: 0 0 80px;
}
div.event_item_title_box {
	padding: 8px 10px;
	border: 2px solid #999;
	background: #eee url(../../event/images/bg_event_item_title_box.gif) repeat-x 0 0;
}
p.event_item_title_seminar {
	padding: 0 10px 0 10px;
	font-size: 1.6em;
	font-weight: bold;
	border-left: 8px solid #f3f;
}
p.event_item_title_kengakukai {
	padding: 0 10px 0 10px;
	font-size: 1.6em;
	font-weight: bold;
	border-left: 8px solid #3c3;
}
p.event_over {
	margin: 20px 0 0;
	font-size: 1.6em;
	font-weight: bold;
	color: #d00;
	text-align: center;
}
div.event_item_text_box {
	margin: 20px 0 0;
	font-size: 1.2em;
}
div.event_item_detail_box {
	margin: 20px 0 0;
	font-size: 1.2em;
}
div.event_item_detail_box table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
div.event_item_detail_box table th {
	padding: 8px 15px;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #999;
	background: #eee;
}
div.event_item_detail_box table td {
	padding: 8px 15px;
	width: 100%;
	vertical-align: top;
	border: 1px solid #999;
}
div.event_item_btn_box {
	margin: 20px 0 0;
	text-align: center;
}
a.event_order_btn {
	display: inline-block;
	margin: 0 auto;
	padding: 2px;
	background: #f63;
}
a.event_order_btn span {
	display: inline-block;
	padding: 10px 25px;
	font-size: 1.8em;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	border: 2px solid #fff;
}
a.event_order_btn span:hover {
	background: #f93;
	color: #ff0;
}
/* ===== investment ================================================== */

div#area_investment {
	padding: 0 30px 0 20px;
}
h2#h2_investment {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../investment/images/h2_investment.gif) no-repeat 0 0;
}
div.investment_item_box {
	margin: 30px 0 0;
	padding: 20px;
	border: 2px dotted #ccc;
}
p.investment_item_lead {
	margin: 0 0 2px;
	font-size: 1.8em;
	font-weight: bold;
}
p.investment_item_user {
	margin: 0 0 10px;
	font-size: 1.2em;
}
p.investment_item_bukken_title {
	margin: 0 0 2px;
	font-size: 1.2em;
	font-weight: bold;
}
p.investment_item_bukken {
	margin: 0 0 10px;
	font-size: 1.2em;
}
div.investment_item_photo_box {
	margin: 0 0 10px;
}
div.investment_item_photo_box img {
	margin: 0 3px 3px 0;
}
div.investment_item_text_box {
	font-size: 1.2em;
}
/* ===== regist ================================================== */

div#area_regist {
	padding: 0 30px 0 20px;
}
h2#h2_regist {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../regist/images/h2_regist.gif) no-repeat 0 0;
}
div#area_regist p {
	margin: 3px 0 20px;
	font-size: 1.2em;
	line-height: 1.6em;
}
div#area_regist p.lead_text {
	margin: 20px 0 0;
	font-size: 1.8em;
	font-weight: bold;
	color: #03c;
}
div#area_regist ul {
	margin: 0 0 0 15px;
}
div#area_regist ul li {
	font-size: 1.2em;
	line-height: 1.6em;
	list-style-type: disc;
	list-style-position: outside;
}
div#area_regist p.howto_lead {
	margin: 30px 0 0;
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	color: #f00;
}
div#area_regist p.howto_text {
	text-align: center;
	margin: 0 0 30px;
}
div#area_regist p.appeal_text {
	margin: 20px 0 20px;
	font-size: 1.4em;
	font-weight: bold;
	color: #f09;
}
div#area_regist div#regist_btn_box {
	margin: 50px 0;
	width: 500px;
	text-align: center;
}
div#area_regist div#regist_btn_box a#regist_btn {
}
div#regist_error_box {
	margin: 30px auto;
	padding: 15px 20px;
	font-size: 1.2em;
	color: #c00;
	border: 3px dotted #c00;
	background: #fdd;
}
/* ===== bukken ================================================== */
#boxfudo_top_r-4 {
	overflow: hidden;
}
#boxfudo_top_r-4 ul {
	overflow: hidden;
	font-size: 14px;
}
#boxfudo_top_r-4 li {
	float: left;
	width: 32.3333%;
	box-sizing: border-box;
	margin: 5px 0.5%;
	border: 1px solid #e1e1e1;
	padding: 10px 10px 2px 10px;
}
#boxfudo_top_r-4 li img {
    width: 100%;
    height: auto;
}
#boxfudo_top_r-4 li:nth-child(4n) {
	clear: both;
}
#boxfudo_top_r-4 li a {
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}
#boxfudo_top_r-4 li .top_price {
	text-align: center;
	font-weight: bold;
	display: block;
	margin: 5px 0;
	font-size: 1.15em;
}
#boxfudo_top_r-4 li .top_madori, #boxfudo_top_r-4 li .top_menseki {
	display: none;
}
#boxfudo_top_r-4 li .top_shozaichi br {
	display: none;
}
#boxfudo_top_r-4 li .top_shozaichi, #boxfudo_top_r-4 li .top_kotsu {
	font-size: 12px;
	line-height: 1.3em;
}
#boxfudo_top_r-4 li .top_title {
	font-weight: bold;
	color: #1a4a94;
	font-size: 1.2em;
}
#boxfudo_top_r-4 li .box1low a {
	font-size: 13px;
	height: auto;
	    margin-bottom: 0;
}
div#part_bukken_regist {
	padding: 20px 0;
	margin: 5px 0 15px;
	border: 2px dotted #999;
}
table#bukken_regist_form_table {
	margin: 5px auto 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
table#bukken_regist_form_table th {
	padding: 5px 0 0 0;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
}
table#bukken_regist_form_table td {
	padding: 5px 0 0 10px;
	font-size: 1.2em;
	vertical-align: middle;
}
div#bukken_regist_kiyaku_box {
	margin: 20px auto 0;
	padding: 0 25px;
}
div#bukken_regist_kiyaku {
	overflow: auto;
	padding: 5px;
	width: 100%;
	height: 300px;
	font-size: 1.2em;
	border: 1px solid #ccc;
}
p#bukken_regist_kiyaku_agreement_message {
	padding: 20px 25px 0;
	font-size: 1.2em;
}
div#bukken_regist_btn_box {
	margin: 20px auto 0;
	padding: 0 25px;
	text-align: center;
}
p#bukken_regist_bottom_link {
	padding: 10px 25px 0;
	font-size: 1.2em;
}
p#bukken_regist_set_message {
	padding: 5px 0 0;
	font-size: 1.2em;
}
p#bukken_regist_over_message {
	padding: 5px 0 0;
	font-size: 1.2em;
}
p#bukken_login_message {
	padding: 5px 0 0;
	font-size: 1.2em;
}
p#bukken_lostpass_message {
	padding: 5px 0 0;
	font-size: 1.2em;
}
div#part_bukken_lostpass {
	padding: 20px 0;
	margin: 5px 0 15px;
	border: 2px dotted #999;
}
table#bukken_lostpass_form_table {
	margin: 5px auto 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
table#bukken_lostpass_form_table th {
	padding: 5px 0 0 0;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
}
table#bukken_lostpass_form_table td {
	padding: 5px 0 0 10px;
	font-size: 1.2em;
	vertical-align: middle;
}
div#bukken_lostpass_btn_box {
	margin: 20px auto 0;
	padding: 0 25px;
	text-align: center;
}
p#bukken_resetpass_message {
	padding: 5px 0 0;
	font-size: 1.2em;
}
div#part_bukken_resetpass {
	padding: 20px 0;
	margin: 5px 0 15px;
	border: 2px dotted #999;
}
table#bukken_resetpass_form_table {
	margin: 5px auto 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
table#bukken_resetpass_form_table th {
	padding: 5px 0 0 0;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
}
table#bukken_resetpass_form_table td {
	padding: 5px 0 0 10px;
	font-size: 1.2em;
	vertical-align: middle;
}
p#bukken_resetpass_hint {
	padding: 10px 25px 0;
	font-size: 1.2em;
}
div#bukken_resetpass_btn_box {
	margin: 20px auto 0;
	padding: 0 25px;
	text-align: center;
}
.list_detail table {
	width: 100%;
	font-size: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
}
.list_detail table th, .list_detail table td {
	border: 1px solid #e1e1e1;
	padding: 3px 6px;
}
.entry-content {
	font-size: 14px;
}
#contact_form {
	font-size: 14px;
	clear: both;
}
#part_bukken_contact {
	clear: both;
}
.list_picsam {
	float: left;
	width: 28%;
}
.list_detail {
	float: right;
	margin-right: 1%;
	width: 70%;
}
#container {
	width: auto;
}
#list_simplepage2 h2.entry-title {
	font-size: 2.5em;
	background-color: transparent;
	border-right: none;
	padding-top: 8px;
	border: none;
	margin-bottom: 10px;
	border-left: 4px solid #1a4a94;
	margin-top: 15px;
	padding-bottom: 2px;
}
div#area_bukken {
	padding: 0 30px 0 20px;
}
h2#h2_bukken {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../bukken/images/h2_bukken.gif) no-repeat 0 0;
}
div#container {
}
div#content {
}
div#content > table {
	width: 100%;
}
div#part_bukken_login {
	padding: 10px 0;
	margin: 5px 0 0;
	border: 2px dotted #999;
}
p.bukken_login_error {
	padding: 0 0 5px;
	font-size: 1.2em;
	font-weight: bold;
	color: #c00;
}
table#bukken_login_form_table {
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
table#bukken_login_form_table th {
	padding: 5px 0 0 0;
	font-size: 1.2em;
	font-weight: bold;
	vertical-align: middle;
}
table#bukken_login_form_table td {
	padding: 5px 0 0 10px;
	font-size: 1.2em;
	vertical-align: middle;
}
div#bukken_login_form_remind {
	padding: 10px 0 0;
	font-size: 1.2em;
	text-align: center;
	white-space: nowrap;
}
div#bukken_login_form_submit {
	padding: 10px 0 0;
	font-size: 1.2em;
	text-align: center;
	white-space: nowrap;
}
div#bukken_login_form_menu {
	padding: 10px 0 0;
	font-size: 1.2em;
	text-align: center;
	white-space: nowrap;
}
p#bukken_login_form_hello {
	float: left;
	padding: 0 10px;
	width: 450px;
	font-size: 1.2em;
	font-weight: bold;
}
p#bukken_login_form_menu {
	float: right;
	padding: 0 10px;
	width: 150px;
	text-align: right;
	font-size: 1.1em;
}
ul#repass {
	width: 600px;
	margin: 5px auto 0;
	padding: 10px 15px;
	background: #eee;
	border: 1px solid #ccc;
}
table#bukken_repass_form_table {
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
table#bukken_repass_form_table th {
	padding: 5px 0 0 0;
	font-size: 1.1em;
	font-weight: bold;
	vertical-align: middle;
}
table#bukken_repass_form_table td {
	padding: 5px 0 0 10px;
	font-size: 1.1em;
	vertical-align: middle;
}
div#bukken_repass_form_submit {
	padding: 10px 0 0;
	font-size: 1.1em;
	text-align: center;
	white-space: nowrap;
}
div#part_bukken_search_condition {
	padding: 15px;
	margin: 10px 0 0;
	border: 3px double #ccc;
}
table#bukken_search_condition_table {
	margin: 0 auto;
	width: 100%;
}
div.bukken_search_condition_item {
	padding: 10px 0 0;
}
table#bukken_search_condition_table th {
	padding: 5px 15px;
	font-size: 1.2em;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	background: #ddb;
}
table#bukken_search_condition_table td.bukken_search_condition_select {
	padding: 5px 20px;
	font-size: 1.2em;
	vertical-align: middle;
	background: #ffd;
}
table#bukken_search_condition_table td.bukken_search_condition_message {
	padding: 10px 0 5px;
	font-size: 1.2em;
	font-weight: bold;
}
table#bukken_search_condition_table td.bukken_search_condition_btn {
	padding: 10px 20px 0;
	text-align: center;
}
p.bukken_search_condition_message {
	padding: 10px 0 0;
	font-size: 1.2em;
}
div#part_bukken_search_keyword {
	padding: 10px 0;
	margin: 10px 0 0;
	border: 1px solid #999;
}
div.part_bukken_result_sort {
	padding: 10px 0;
	font-size: 1.2em;
	text-align: right;
}
div#part_bukken_result_box {
}
div.part_bukken_result_item {
	margin: 0 0 30px;
	border-top: 3px solid #333;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
}
div.part_bukken_result_item_title_box {
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	background: #eee;
}
div.part_bukken_result_item_title_member_box {
	float: right;
	padding: 5px 0 0;
	width: 50px;
}
div.new_mark_box {
	float: left;
	padding: 5px 0 0;
	width: 50px;
}
div.new_mark_box div.new_mark {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	display: block;
	padding: 2px 5px;
	margin: 0 auto;
	width: 26px;
	border-radius: 4px;
	text-shadow: 1px 1px 0px #900;
	background: #900; /* Old browsers */
	background: -moz-linear-gradient(top, #d20100 0%, #990000 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #d20100 0%, #990000 100%); /* Chrome10+,Safari5.1+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20100', endColorstr='#990000', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #d20100 0%, #990000 100%); /* W3C */
}
p.part_bukken_result_item_title_text {
	padding: 2px 5px;
	font-size: 1.8em;
	font-weight: bold;
}
div.part_bukken_result_item_excerpt_box {
	padding: 10px 15px;
}
div.part_bukken_result_item_excerpt_box p.part_bukken_result_item_excerpt_text {
	font-size: 1.2em;
}
div#part_bukken_result_regist_btn {
	padding: 20px 0 30px;
	text-align: center;
}
div.part_bukken_result_item_excerpt_left_box {
	float: left;
	padding: 10px 0 0;
	width: 310px;
}
div.part_bukken_result_item_excerpt_left_box a {
	margin: 0 3px 3px 0;
}
div.part_bukken_result_item_excerpt_point {
}
div.part_bukken_result_item_excerpt_right_box {
	float: right;
	padding: 10px 0 0;
	width: 340px;
}
table.part_bukken_result_item_excerpt_table {
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
table.part_bukken_result_item_excerpt_table th {
	padding: 3px 15px;
	font-size: 1.2em;
	font-weight: bold;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid #ccc;
	background: #eee;
}
table.part_bukken_result_item_excerpt_table td {
	padding: 3px 15px;
	width: 100%;
	font-size: 1.2em;
	vertical-align: middle;
	border: 1px solid #ccc;
}
div.part_bukken_result_item_detail_btn_box {
	margin: 10px auto;
	width: 200px;
}
a.part_bukken_result_item_detail_btn {
	display: block;
	font-size: 14px;
	font-weight: bold;
	background-color: #f4f4f4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(0.49, #eeeeee), color-stop(0.5, #dddddd), color-stop(1, #ffffff));
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 49%, #dddddd 50%, #ffffff 100%);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#eeeeee', GradientType=0 ); /* ie */
	-webkit-box-shadow: 0px 1px 0px #fff;
	-moz-box-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 0px #fff;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #999;
	margin: 0;
	padding: 5px 0;
	letter-spacing: 0.1em;
}
div.part_bukken_detail {
	margin: 20px 0 0;
}
div#part_bukken_contact {
}
p.bukken_contact_name {
	padding: 10px 20px 0;
	font-size: 1.2em;
	font-weight: bold;
}
div.bukken_contact_input {
	padding: 3px 25px 10px;
	font-size: 1.2em;
}
div.bukken_contact_input span.wpcf7-not-valid-tip-no-ajax {
	padding: 0 5px;
	color: #ff0000;
}
div.bukken_contact_input span.wpcf7-list-item {
	padding: 0 20px 0 0;
	white-space: nowrap;
}
div.bukken_contact_btn_box {
	padding: 20px 20px 0 50px;
}
div.wpcf7-response-output {
	padding: 10px 20px 0;
	font-size: 1.2em;
}
div.wpcf7-validation-errors {
	color: #ff0000;
}
p.bukken_contact_send_text {
	font-size: 1.8em;
	color: #cc0000;
}
/* ===== consultant ================================================== */

div#area_consultant {
	padding: 0 30px 0 20px;
}
h2#h2_consultant {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../consultant/images/h2_consultant.gif) no-repeat 0 0;
}
div#area_consultant div#president_photo_box {
	float: left;
	padding: 10px 0 0;
	width: 210px;
	text-align: right;
}
div#area_consultant div#president_text_box {
	float: right;
	padding: 10px 0 0;
	width: 450px;
}
div#area_consultant div#president_photo_box img {
	margin-bottom: 10px;
}
div#area_consultant p {
	margin: 3px 0 15px;
	font-size: 1.2em;
	line-height: 1.6em;
}
div#area_consultant p.sign {
	text-align: right;
	font-weight: bold;
}
div#area_consultant p.sign span.sign_name {
	font-size: 1.4em;
}
div#area_consultant .indent1 {
	padding-left: 8px;
}
div#area_consultant ul#seminar {
	margin: 5px 0 0 25px;
}
div#area_consultant ul#seminar li {
	font-size: 1.2em;
	line-height: 1.6em;
	list-style-type: disc;
	list-style-position: outside;
}
div#area_consultant div#seminar_photo_box {
	margin: 5px 0 0;
	text-align: center;
}
div#area_consultant div#seminar_photo_box img {
	margin: 10px;
}
div#area_consultant div.media_box div.media_text_box {
	float: left;
	padding: 20px 0 0;
	width: 480px;
}
div#area_consultant div.media_box div.media_image_box {
	float: right;
	padding: 10px 0 0;
	width: 200px;
}
/* ===== present ================================================== */

div#area_present {
	padding: 0 30px 0 20px;
}
h2#h2_present {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../present/images/h2_present.gif) no-repeat 0 0;
}
/* ===== freeconsultation ================================================== */

div#area_freeconsultation {
	padding: 0 30px 0 20px;
}
h2#h2_freeconsultation {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../freeconsultation/images/h2_freeconsultation.gif) no-repeat 0 0;
}
/* ===== company ================================================== */

div#area_company {
	padding: 0 30px 0 20px;
}
h2#h2_company {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../company/images/h2_company.gif) no-repeat 0 0;
}
table#company_information_table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
table#company_information_table th {
	padding: 10px 10px 10px 10px;
	font-size: 1.2em;
	font-weight: bold;
	white-space: nowrap;
	vertical-align: top;
	border-bottom: 1px dotted #999;
}
table#company_information_table td {
	padding: 10px 10px 10px;
	width: 100%;
	font-size: 1.2em;
	vertical-align: top;
	border-bottom: 1px dotted #999;
}
table#company_information_table td ul {
	margin: 0 0 0 15px;
}
table#company_information_table td ul li {
	list-style-type: disc;
	list-style-position: outside;
}
/* ===== mailmagazine ================================================== */

div#area_mailmagazine {
	padding: 0 30px 0 20px;
}
h2#h2_mailmagazine {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../mailmagazine/images/h2_mailmagazine.gif) no-repeat 0 0;
}
/* ===== qa ================================================== */

div#area_qa {
	padding: 0 30px 0 20px;
}
h2#h2_qa {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../qa/images/h2_qa.gif) no-repeat 0 0;
}
div#qa_questions_box {
	margin: 20px 0 0;
	padding: 5px 20px 15px;
	border: 3px double #9cf;
}
div#qa_questions_box ul {
	margin: 0 0 0 15px;
}
div#qa_questions_box ul li {
	margin: 10px 0 0;
	list-style-type: disc;
	list-style-position: outside;
	font-size: 1.2em;
}
div.qa_detail_box {
	margin: 20px 0 0;
	border: 3px dotted #9cf;
}
div.qa_detail_box p.question_text {
	padding: 10px 15px 5px;
	font-size: 1.4em;
	font-weight: bold;
	border-bottom: 1px dotted #9cf;
}
div.qa_detail_box p.question_text span.question_mark {
	font-size: 1.2em;
}
div.qa_detail_box p.answer_text {
	padding: 10px 15px 10px;
	font-size: 1.2em;
	line-height: 1.6em;
}
div.qa_detail_box p.answer_text span.answer_mark {
	font-size: 1.4em;
	font-weight: bold;
}
/* ===== blog_staff ================================================== */

div#area_blog_staff {
	padding: 0 10px 0 20px;
}
h2#h2_blog_staff {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../blog_staff/images/h2_blog_staff.gif) no-repeat 0 0;
}
div#area_blog_staff #primary {
	float: left;
	padding: 10px 0 0 0;
	width: 500px;
}
div#area_blog_staff #secondary {
	float: right;
	padding: 50px 0 0 0;
	width: 180px;
}
div#area_blog_staff #primary article {
	margin: 50px 0 0;
}
div#area_blog_staff #primary article div.entryHeader {
}
div#area_blog_staff #primary article div.entryHeader div.entryTitle {
	font-size: 1.6em;
	font-weight: bold;
}
div#area_blog_staff #primary article .entryMeta {
	font-size: 1.2em;
	text-align: right;
}
div#area_blog_staff #primary article div.entry-content {
	padding: 5px 0;
	font-size: 1.2em;
	line-height: 1.6em;
}
div#area_blog_staff #primary #navSingle {
	padding: 0 0 30px;
	font-size: 1.2em;
}
div#area_blog_staff #primary #navSingle .navPrevious {
	float: left;
}
div#area_blog_staff #primary #navSingle .navNext {
	float: right;
}
div#area_blog_staff #primary div#comments {
	display: none;
}
div#area_blog_staff #secondary aside#search-2 {
	margin: 0 0 30px;
	padding: 10px;
	border: 2px dotted #999;
}
div#area_blog_staff #secondary aside#search-2 label.assistive-text {
	padding: 0 0 3px;
	font-size: 1.2em;
	font-weight: bold;
}
div#area_blog_staff #secondary ul {
	padding: 5px 0 30px 20px;
}
div#area_blog_staff #secondary ul li {
	font-size: 1.2em;
	list-style-type: disc;
	list-style-position: outside;
}
/* ===== freeanalysis ================================================== */

div#area_freeanalysis {
	padding: 0 30px 0 20px;
}
h2#h2_freeanalysis {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../freeanalysis/images/h2_freeanalysis.gif) no-repeat 0 0;
}
/* ===== commission ================================================== */

div#area_commission {
	padding: 0 30px 0 20px;
}
h2#h2_commission {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../commission/images/h2_commission.gif) no-repeat 0 0;
}
/* ===== inquiry ================================================== */

div#area_inquiry {
	padding: 0 30px 0 20px;
}
h2#h2_inquiry {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../inquiry/images/h2_inquiry.gif) no-repeat 0 0;
}
/* ===== privacy ================================================== */

div#area_privacy {
	padding: 0 30px 0 20px;
}
h2#h2_privacy {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../privacy/images/h2_privacy.gif) no-repeat 0 0;
}
div#area_privacy p {
	margin: 3px 0 0;
	font-size: 1.2em;
	line-height: 1.6em;
}
div#area_privacy p.sign {
	text-align: right;
	font-weight: bold;
}
div#area_privacy .indent1 {
	padding-left: 20px;
}
div#area_privacy .indent2 {
	padding-left: 20px;
}
div#area_privacy ul {
	margin: 0 0 0 5px;
}
div#area_privacy ul li {
	margin: 3px 0 0;
	font-size: 1.2em;
}
/* ===== link ================================================== */

div#area_link {
	padding: 0 30px 0 20px;
}
h2#h2_link {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../link/images/h2_link.gif) no-repeat 0 0;
}
div.link_item_box {
	margin: 30px 0 0;
}
p.link_item_title {
	font-size: 1.2em;
	font-weight: bold;
}
a.link_item_banner_link {
	display: block;
	margin: 5px 0 0;
}
a.link_item_banner_link img {
}
a.link_item_banner_link img:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
p.link_item_text {
	margin: 5px 0 0;
	font-size: 1.2em;
}
/* ===== sitemap ================================================== */

div#area_sitemap {
	padding: 0 30px 0 20px;
}
h2#h2_sitemap {
	margin: 16px 0 0;
	height: 36px;
	background: url(../../sitemap/images/h2_sitemap.gif) no-repeat 0 0;
}
div#sitemap_box {
	margin: 30px 0 0;
}
div.sitemap_group_box {
	padding: 0 0 20px;
}
div#sitemap_box a {
	display: block;
	padding: 3px 10px 3px 15px;
	font-size: 1.2em;
	border-bottom: 1px dotted #999;
}
