@charset "UTF-8";
/* 共通 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
    font-family: メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, 'ＭＳ Ｐゴシック', 'MS PGothic', Osaka, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    color: #303030;
}
a {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  text-decoration: none;
  color: #000;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  /*font-family: 'Times New Roman', '游明朝体', 'Yu Mincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HGS明朝B', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;*/
}
p {
  word-break: break-all;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.clearfix {zoom:1;}
.clearfix:after{
  content: ""; 
  display: block; 
  clear: both;
}
.center {
  text-align: center;
}
.primary {
  color: #ca0000;
}
/*
General
*/
h2.sec-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
}
h2.sec-title span {
  margin-bottom: 5px;
  display: block;
  color: #ca0000;
  text-transform: uppercase;
  font-size: 16px;
}
/*header*/
header {
  position: relative;
  background: #fff;
}
.top-nav ul {
  font-size: 0;
  text-align: center;
}
.top-nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
.top-nav ul li a {
  font-size: 14px;
  padding: 18px 0;
  display: block;
  position: relative;
}
.top-nav ul li a:hover {
  color: #ca0000;
}
/**/
.top-banner {
  overflow: hidden;
}
.side-fix {
  position: fixed;
  top: 140px;
  right: 0;
  z-index: 1000;
  width: 75px;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Section 1*/
.section-1 .tt {
  padding: 20px 0;
  text-align: center;
}
.section-1 .content {
  background: url("../images/background/sec1_bg.jpg") top center no-repeat;
  padding: 90px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Section 2*/
.section-2 {
  padding: 65px 0 90px;
  background: url("../images/background/sec2_bg.jpg") top center repeat;
}
.section-2 h2 {
  font-size: 38px;
  line-height: 0.3;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 20px;
}
.section-2 h2 span {
  font-size: 134%;
  position: relative;
}
.section-2 h2 span.img:after {
  content: '';
  width: 12px;
  height: 12px;
  top: 5px;
  right: 0;
  display: inline-block;
  position: absolute;
  background: url("../images/icon/sec2_icon_2.png") 0 0 no-repeat;
}
.section-2 h2 img {
  margin-top: -80px;
}
.section-2 .item  {
  background: #fff;
  border: 4px solid #43250b;
  position: relative;
  margin-bottom: 70px;
}
.section-2 .item:last-child  {
  margin-bottom: 0;
}
.section-2 .item .txt {
  padding: 40px;
}
.section-2 .item h3.tt {
  padding-left: 190px;
  height: 160px;
  font-size: 38px;
  color: #ffef6c;
  display: table-cell;
  width: 1000px;
  vertical-align: middle;
}
.section-2 .item:nth-child(1) .txt{
  padding-right: 0;
}
.section-2 .item:nth-child(1) h3.tt {
  background: url("../images/background/sec2_tt_1_bg.jpg") top center no-repeat;
}
.section-2 .item:nth-child(2) h3.tt {
  background: url("../images/background/sec2_tt_2_bg.jpg") top center no-repeat;
}
.section-2 .item:nth-child(3) h3.tt {
  background: url("../images/background/sec2_tt_3_bg.jpg") top center no-repeat;
}
.section-2 .item:nth-child(4) h3.tt {
  background: url("../images/background/sec2_tt_4_bg.jpg") top center no-repeat;
}

.section-2 .item:nth-child(1) .img {
  float: right;
  width: 270px;
  margin-top: -200px;
}
.section-2 .item .txt h3 {
  font-size: 30px;
  color: #ff6900;
  margin-bottom: 15px;
}
.section-2 .item .ribbon {
  position: absolute;
  left: -4px;
  top: -4px;
}

/*Section 3*/
.section-3 {
  padding: 65px 0 100px;
}
.section-3 h2 {
  font-size: 52px;
  text-align: center;
  margin-bottom: 90px;
}
.section-3 h2 img {
  margin-right: 15px;
}
.section-3 .box.box1 {
  margin-bottom: 160px;
}
.section-3 .box h3.tt {
  margin-top: -60px;
  text-align: center;
  margin-bottom: 30px;
}
.section-3 .box .top {
  position: absolute;
  left: 0;
  top: 0;
}
.section-3 .box .bot {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section-3 .item-img {
  margin-bottom: 35px;
}
.section-3 .item-img .img {
  float: left;
  width: 37%;
  text-align: center;
}
.section-3 .item-img .txt {
  float: left;
  width: 63%;
}
.section-3 .box h4.title {
  font-size: 32px;
  margin-bottom: 15px;
}
.section-3 .box h4.title.icon1 {
  padding-left: 65px;
  background: url("../images/icon/sec3_icon_1.png") 0 center no-repeat;
}
.section-3 .box h4.title.icon2 {
  padding-left: 80px;
  background: url("../images/icon/sec3_icon_2.png") 0 center no-repeat;
  line-height: 1.5em;
}
.section-3 .box h4.title.icon3 {
  padding-left: 75px;
  background: url("../images/icon/sec3_icon_3.png") 0 center no-repeat;
}
.section-3 .box .img-right {
  width: 400px;
  float: right;
  margin-left: 30px;
  padding-right: 25px;
}
.section-3 .box .item {
  padding: 40px 30px;
}
.section-3 .box .item.top0 {
  padding-top: 0;
}
.section-3 .box .item.bg {
  background: #f0eae8;
}
.section-3 .box1 .img-right {
  padding-top: 15px;
}
.section-3 .box1 .img-right img:nth-child(2) {
  float: right;
  margin-top: -90px;
  position: relative;
  z-index: 1;
}
.section-3 .box1 .img-right img:nth-child(3) {
  margin-top: -40px;
}
.section-3 .box2 .img-right {
  padding-bottom: 100px;
  text-align: center;
  width: 430px;
  margin-left: 0;
}
.section-3 .box2 .img-right img:nth-child(2) {
  margin-top: -55px;
  position: relative;
  z-index: 1;
}

/*Section 4*/
.section-4 {
  padding: 70px 0 100px;
  background: url("../images/background/sec4_bg.jpg") top center repeat;
}
.section-4 h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 40px;
}
.section-4 table tr td,
.section-4 table tr th {
  padding: 10px 20px;
  border: 1px solid #dadada;
  vertical-align: middle;
}
.section-4 table tr td {
  background: #fff;
  height: 70px;
}
.section-4 table tr td:first-child {
  font-weight: bold;
}
.section-4 table tr td:nth-child(2) {
  background: #eee url("../images/icon/table_icon_1.png") center center no-repeat;
}
.section-4 table tr td:nth-child(3) {
  background: #ebfce0 url("../images/icon/table_icon_2.png") center center no-repeat;
}
.section-4 table tr th:first-child {
  border: 0;
}
.section-4 table tr th {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.section-4 table tr th:nth-child(2) {
  background: url("../images/background/sec4_bg_1.jpg") center center repeat;
}
.section-4 table tr th:nth-child(3) {
  background: url("../images/background/sec4_bg_2.jpg") center center repeat;
}
/*Section 5*/
.section-5 .title {
  text-align: center;
  padding: 40px 0;
  font-size: 50px;
  color: #fff;
  background: url("../images/background/sec5_pattern.jpg") center center repeat;
}
.section-5 .title h2 {
  display: inline-block;
  padding-left: 85px;
  line-height: 52px;
  background: url("../images/icon/icon_3.png") 0 center no-repeat;
}
.section-5 .content {
  background: url("../images/background/sec5_bg.jpg") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0 115px;
}
.section-5 .content h3 {
  color: #fff;
  text-align: center;
  font-size: 34px;
  margin-bottom: 1em;
}
.section-5 .content h3 small {
  font-size: 80%;
}
.section-5 .content h3 span {
  color: #fff100;
}
.section-5 .content .box-wrap img {
  float: left;
  margin-left: 50px;
}
.section-5 .content .box-wrap img:first-child {
  margin-left: 0;
}

/*Section 6*/
.section-6 {
  padding: 80px 0;
  background: url("../images/background/sec6_bg.jpg") top center repeat;
}
.section-6 .title {
  text-align: center;
  margin-bottom: 40px;
}
.section-6 .title h2 {
  font-size: 44px;
  margin-bottom: 25px;
}
.section-6 .title h2 small {
  font-size: 75%;
}
.section-6 .title h2 span {
  color: #ff6900;
}
.section-6 .content p {
  font-size: 20px;
  margin-top: 25px;
}

/*Section 7*/
.section-7 {
  padding: 70px 0 100px;
  background: url("../images/background/sec7_bg.jpg") top center repeat;
}
.section-7 .title {
  margin-bottom: 70px;
}
.section-7 .title img {
  float: left;
  margin-right: 7px;
}
.section-7 .title h2 {
  font-size: 55px;
  padding-top: 20px;
}
.section-7 .title h2 small {
  font-size: 75%;
}
.section-7 .title h2 span {
  color: #ff6900;
}
.section-7 .box-wrap h3 {
  font-size: 36px;
  padding-left: 45px;
  margin-bottom: 15px;
  background: url("../images/icon/sec7_icon.png") 0 center no-repeat;
}

.section-7 .box-wrap .img {
  float: left;
  margin-right: 35px;
}
.section-7 .button {
  text-align: center;
  margin-top: 40px;
}

.section-8 {
  text-align: center;
  padding: 15px 0;
}




.footer {
  background: #eee;
  padding: 35px 0;
}
.footer .info {
  float: left;
  
}
.footer .info h2 {
  font-size: 26px;
  margin-bottom: 10px;
}
.footer .info h3 {
  font-size: 18px;
}
.footer .info h3 span {
  font-size: 32px;
  display: inline-block;
  position: relative;
}
.footer .info h3 span:after {
  content: '';
  width: 12px;
  height: 12px;
  top: 2px;
  right: 0;
  display: inline-block;
  position: absolute;
  background: url("../images/icon/sec2_icon_2.png") 0 0 no-repeat;
}
.footer .info h3 img {
  float: left;
  margin-right: 15px;
}
.footer .tel {
  float: right;
}


@media screen and (min-width: 641px) {
  .pc-none {
    display: none!important;
  }
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  #wrap {
    min-width: 1050px;
  }
  a:hover img {
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
  }
  .top-banner {
    background: url("../images/background/banner_bg.jpg") top center repeat;
    text-align: center;
  }
  .section-2 .item:nth-child(1) .img img {
    max-width: inherit;
    float: right;
  }
  .section-7 .box-wrap .right p:last-child {
    clear: both;
    margin-top: 30px;
  }
  .section-3 .box {
    padding: 1px 10px;
    position: relative;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
    -ms-box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
    -o-box-shadow: 0px 1px 8px rgba(0,0,0,0.15);
  }
  .section-4 table tr th:nth-child(2),
  .section-4 table tr th:nth-child(3) {
    width: 374px;
  }
  .section-7 .box-wrap {
    padding: 80px 35px;
    position: relative;
    background: url("../images/background/sec7_bg_1.png") top left no-repeat,url("../images/background/sec7_bg_2.png") right bottom no-repeat;
  }
  .section-7 .box-wrap .left {
    width: 48.5%;
    float: left;
  }
  .section-7 .box-wrap .right {
    width: 48.5%;
    float: right;
  }
  .section-7 .box-wrap .seminar {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
}
@media screen and (max-width: 640px) {
  .sp-none {
    display: none!important;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-1 .tt {
    padding: 20px 10px;
  }
  .section-1 .content {
    padding: 30px 0 50px;
  }
  .section-2 {
    padding: 40px 0;
  }
  .section-2 h2 {
    font-size: 26px;
    line-height: 1.2;
    padding-top: 10px;
  }
  .section-2 h2 img {
    margin-top: 10px;
    max-width: 150px;
  }
  .section-2 h2 span {
    font-size: 117%;
  }
  .section-2 .item {
    margin-bottom: 40px;
  }
  .section-2 .item .ribbon {
    width: 100px;
  }
  .section-2 .item h3.tt {
    font-size: 22px;
    padding-left: 90px;
    height: 125px;
  }
  .section-2 .item h3.tt br {
    display: none;
  }
  .section-2 .item:nth-child(1) .img {
    width: auto;
    margin: 10px 20px -15px 0;
  }

  .section-2 .item .txt {
    padding: 15px!important;
  }
  .section-2 .item .txt h3 {
    font-size: 22px;
  }
  .section-3 {
    padding: 40px 0;
  }
  .section-3 .box h3.tt {
    margin-top: 0;
  }
  .section-3 h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .section-3 .box h4.title {
    font-size: 22px;
  }
  .section-3 .box .item {
    padding: 15px 10px;
  }
  .section-3 .box .item.bg {
    text-align: center;
  }
  .section-3 .box .item.bg h4.title {
    display: inline-block;
  }
  .section-3 .box h4.title.icon2 {
    background-size: auto 27px;
    padding-left: 50px;
  }
  .section-3 .box h4.title.icon3 {
    background-size: auto 27px;
    padding-left: 55px;
  }
  .section-3 .box .item.bg p {
    text-align: left;
  }
  .section-3 .item-img .img {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
  .section-3 .item-img .txt {
    width: 100%;
    float: none;
  }
  .section-3 .box .item .img {
    text-align: center;
    margin-bottom: 10px;
  }
  .section-3 .box.box1 {
    margin-bottom: 40px;
  }
  .section-4 {
    padding: 40px 0;
  }
  .section-4 h2 {
    font-size: 25px;
    margin-bottom: 1em;
  }
  .section-4 table tr td:first-child {
    font-size: 14px;
    line-height: 1.3em;
    width: 70px;
  }
  .section-4 table tr td, .section-4 table tr th {
    font-size: 14px;
    line-height: 1.5em;
    padding: 3px;
  }
  .section-4 table tr th {
    font-size: 15px;
  }
  .section-5 .title {
    padding: 25px 10px;
    font-size: 25px;
  }
  .section-5 .title h2 {
    padding-left: 65px;
    background-size: 55px auto;
  }
  .section-5 .content h3 {
    font-size: 22px;
  }
  .section-5 .content .box-wrap img {
    float: none;
    margin: 0 0 15px;
  }
  .section-5 .content {
    padding: 30px 0;
  }
  .section-6 {
    padding: 40px 0;
    text-align: center;
  }
  .section-6 .title {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .section-6 .title h2 {
    font-size: 30px;
  }
  .section-6 .content p {
    font-size: 16px;
    text-align: left;
  }
  .section-7 .title img {
    width: 100px;
    margin: 0;
  }
  .section-7 {
    padding: 40px 0;
  }
  .section-7 .title {
    margin-bottom: 30px;
  }
  .section-7 .title h2 {
    padding-top: 0;
    font-size: 20px;
    margin-left: 105px;
  }
  .section-7 .box-wrap .seminar {
    text-align: center;
    margin-bottom: 15px;
  }
  .section-7 .box-wrap .right {
    margin-top: 15px;
  }
  .section-7 .box-wrap .img {
    float: none;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer {
    padding-bottom: 150px;
  }
  .footer .info {
    float: none;
  }
  .footer .info h3 img {
    margin-right: 10px;
    width: 70px;
  }
  .footer .info h3 span {
    font-size: 25px;
  }
  .footer_m {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #fcf9f6;
  }
  .footer_m p {
    font-size: 13px;
    margin-bottom: 5px;
    text-align: center;
  }
  .footer_m p:before {
    content: '';
    width: 1px;
    height: 10px;
    background: #333;
    margin-right: 5px;
    display: inline-block;
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
  }
  .footer_m p:after {
    content: '';
    width: 1px;
    height: 10px;
    background: #333;
    margin-left: 5px;
    display: inline-block;
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
  .footer_m a {
    display: inline-block;
    width: 48.5%;
    float: left;
  }
  .footer_m a:last-child {
    float: right;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding-bottom: 130px;
  }
}
@media screen and (max-width: 400px) {
  .section-2 .item .txt h3 {
    clear: both;
  }
  .section-5 .title h2 {
    text-align: left;
    line-height: 1.3;
  }
}
@media screen and (max-width: 320px) {
 
}